<h1>Listing positions</h1>

<table>
  <tr>
    <th style="text-align: left;">Title</th>
    <th></th>
    <th></th>
    <!-- <th></th> -->
  </tr>

<% @positions.each do |position| %>
  <tr>
    <td><%= position.title %></td>
    <td><%= link_to 'Show All Applicants', position_applicants_path(position) %></td>
    <td><%= link_to 'Show Skype List', skype_list_path(position) %></td>
    <td><%= link_to 'Edit', edit_position_path(position) %></td>
    <!-- <td><%= link_to 'Destroy', position, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
  </tr>
<% end %>
</table>

<br />

<%#= link_to 'New Position', new_position_path %>
