<%= form_for @applicant, :html =>{ :multipart => true } do |f| %>
  <% if @applicant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@applicant.errors.count, "error") %> prohibited this applicant from being saved:</h2>

      <ul>
      <% @applicant.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :fname, "First Name" %><br />
    <%= f.text_field :fname %>
  </div>
  <div class="field">
    <%= f.label :lname, "Last Name" %><br />
    <%= f.text_field :lname %>
  </div>
  <div class="field">
    <%= f.label :date_applied %><br />
    <%= f.date_select :date_applied %>
  </div>
	<div class="field">
    <%= f.label :skype_date %><br />
    <%= f.datetime_select :skype_date %>
  </div>
	<div class="field">
		<%= f.fields_for :applicant_files do |d| %>
    	<%= d.label :attachment, "Documents" %><br />
			<%= d.file_field :attachment %><br />
		<% end %>
	</div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
