<h1>Evaluation for <%= @applicant %></h1>

<style type="text/css" media="screen">
	.col-questions {
		width: 350px;
	}
</style>

<% if @member_response.new_record? %>
	<p class="evaluation-incomplete">You have not yet evaluated <%= @applicant %>. Once you have saved your evaluation, you can change your responses at a later time.</p>
<% else %>
	<p class="evaluation-complete">You have already evaluated <%= @applicant %>. You can make changes to your responses below.</p>
<% end %>

<%= form_for(@member_response, :url => save_evaluation_url) do |f| %>

	<% if false %>
		<% if @applicant.files.any? %>
			<h2><%= @applicant %> Files (<%= @applicant.files.count %>)</h2>
			<ul>
				<% @applicant.files.each do |file| %>
					<li><%= link_to file.attachment_file_name, file.attachment.url(), :target => "_blank" %> (<%= number_to_human_size(file.attachment_file_size) %>)</li>
				<% end %>
			</ul>
		<% end %>
	<% end %>

	<% unless @applicant.skype_date.nil? %>
		<h2>Skype Comments</h2>

		<div class="field general_comments">
			<%= f.label :skype_comments %> <br>
			<%= f.text_area :skype_comments, :rows => 6, :cols => 80 %>
		</div>
	<% end %>

	<h2>Initial Evaluation</h2>

	<table border="0" cellspacing="5" cellpadding="5" class="responses">
		<tr>
			<th class="col-questions">Question</th>
			<th>Response (5 is the highest)</th>
			<th>Comments</th>
		</tr>

		<% if @applicant.position && @applicant.position.title.downcase.include?('experiential') %>
			<%= render partial: 'applicants/evaluate_questions/experiential_design', locals: {f: f} %>

		<% elsif @applicant.position && @applicant.position.title.downcase.include?('art ed') %>
			<%= render partial: 'applicants/evaluate_questions/art_ed', locals: {f: f} %>

		<% elsif @applicant.position && @applicant.position.title.downcase.include?('painting') %>
			<%= render partial: 'applicants/evaluate_questions/painting', locals: {f: f} %>

		<% elsif @applicant.position && @applicant.position.title.downcase.include?('sculpture') %>
			<%= render partial: 'applicants/evaluate_questions/painting', locals: {f: f} %>

		<% elsif @applicant.position && @applicant.position.title.downcase.include?('photo') %>
			<%= render partial: 'applicants/evaluate_questions/photo', locals: {f: f} %>

		<% else %>
			<tr>
				<td colspan="3">Error loading response types</td>
			</tr>
		<% end %>
	</table>

	<div class="field general_comments">
		<%= f.label :general_comments %> <br>
		<%= f.text_area :general_comments, :rows => 6, :cols => 80 %>
	</div>

	<p class="skype-recommendation-question <%= 'recommended' if @member_response.skype_vote == true %>">Do you recommend <%= @applicant.name %> to be on the Skype interview list? <%= f.check_box :skype_vote %> Yes</p>

	<p><%= f.submit "Save Evaluation" %> <%= link_to "Back", position_applicants_url(@applicant.position) %></p>
<% end %>


<script type="text/javascript" charset="utf-8">
	$("input:radio").click(function() {
		var value = $(this).val();
		$(this).parent().removeClass().addClass("selected-value-" + value);
	});

	$("#member_response_skype_vote").click(function() {
		if ($(this).prop('checked') == true) {
			$(this).parent().addClass('recommended');
		} else {
			$(this).parent().removeClass('recommended');
		}
	});
</script>
