<% if controller.action_name == "index" %>
	<h1>Review <%= @position %> Applicants</h1>
  <p class="position-details"><%= link_to 'View Other Posting', positions_path() %></p>
	<p class="sort-details"><%= @sort_text %></p>
	<!-- <p class="clear evaluation-incomplete">You have reviewed <%= @current_member.applicants.count %> out of <%= @applicants.count %> applicants.</p> -->
<% else %>
	<h1><%= @position %> Skype Short List (<%= @applicants.count %>)</h1>
  <p class="position-details"><%= link_to 'View Other Posting', positions_path() %></p>
	<p class="sort-details">Sorted by Skype interview schedule </p>
<% end %>

<table class="clear" border="0" cellspacing="0" cellpadding="0">
  <tr>
	  <th class="col-evaluated"></th>
    <th class="col-lname"><%= link_to "Last Name", position_applicants_url(position_id: params[:position_id], sort: "lname") %>,</th>
    <th class="col-fname"><%= link_to "First Name", position_applicants_url(position_id: params[:position_id], sort: "fname") %></th>
    <th class="col-date"><%= link_to "Date Applied", position_applicants_url(position_id: params[:position_id], sort: "date") %></th>
    <th class="col-score">Score</th>
    <th class="col-average"><%= link_to "Average Score", position_applicants_url(position_id: params[:position_id], sort: "average") %></th>
    <th class="col-stddev"><%= link_to "Standard Deviation", position_applicants_url(position_id: params[:position_id], sort: "deviation") %></th>
    <th class="col-skype"><%= link_to "Skype Votes", position_applicants_url(position_id: params[:position_id], sort: "skype") %></th>
    <th colspan="2"><%= image_tag("click_to_evaluate.png") %></th>
		<% if @current_member.id == 1 %>
	    <th class="col-skype-add"><%= link_to "Add to Skype List", position_applicants_url(position_id: params[:position_id], sort: "skypelist") %></th>
		<% end %>
  </tr>

<% if @current_member.id == 1 %>
	<style type="text/css" media="screen">
		.skype-yes, .skype-yes td {
			background: rgb(50, 152, 50) !important;
		}
		.skype-yes .col-evaluated span, .skype-no .col-evaluated span {
			display: none;
		}
		.skype-yes * {
			color: white !important;
		}
		.skype-no, .skype-no td {
			background: rgb(255, 70, 70) !important;
		}
		.skype-no * {
			color: white !important;
		}
	</style>
<% end %>

<% @applicants.each do |applicant| %>
	<% evaluation = applicant.member_responses.find_by_member_id(@current_member.id) %>
  <tr class="<%= 'evaluated' if evaluation %> <%= 'skype-yes' if applicant.on_skype_list? == true %>  <%= 'skype-no' if applicant.on_skype_list? == false %>">
    <td class="col-evaluated"><%= evaluation ? "<span class='evaluated-yes'>Evaluated</span>".html_safe : "<span class='evaluated-no'>Needs Evaluation</span>".html_safe %></td>
    <td class="col-lname"><%= applicant.lname %>,</td>
    <td class="col-fname"><%= applicant.fname %></td>
    <td class="col-date"><%= applicant.date_applied %></td>
		<td class="col-score"><%= evaluation.score if evaluation %></td>
		<td class="col-average"><%= applicant.average_score %></td>
		<td class="col-stddev"><%= applicant.average_score_precision %></td>
		<td class="col-skype"><%= applicant.skype_vote_total %></td>
		<td><%= link_to 'Evaluate', evaluate_url(applicant) %>
    <td><%= link_to 'Show Details', applicant %> <%= link_to 'Edit', edit_applicant_path(applicant) if @current_member.id == 1 %></td>
		<% if @current_member.id == 1 %>
	  	<td class="col-skype-add"><%= link_to "Yes", :action => 'update_skype_list', :value => 'true', :id => applicant.id %> | <%= link_to "No", :action => 'update_skype_list', :value => 'false', :id => applicant.id %> | <%= link_to "Clear", :action => 'update_skype_list', :value => 'clear', :id => applicant.id %></td>
		<% end %>
  </tr>
<% end %>
</table>
<p><%= @applicants.count %> applicants listed</p>
<div class="legend">
  <p><%= image_tag "checkmark.png" %> = You have evaluated this applicant</p>
  <p><%= image_tag "checkbox.png" %> = You have not evaluated this applicant</p>
</div>


<br />

<%= link_to 'New Applicant', new_applicant_path %> | <%= link_to "Skype List", skype_list_url() %>
