<h1>Skype Short List (<%= @applicants.size %>)</h1>

<style type="text/css" media="screen">
	.applicants {
		font-size: 150%;
		color: #000099;
		line-height: 30px;
	}
	.applicants a {
		color: black !important;
		text-decoration: none;
	}
	.applicants a:hover {
		background: none !important;
		text-decoration: underline;
	}
</style>

<ol class="applicants">
	<% @applicants.each do |applicant| %>
		<li><%= applicant.name %> | <%= link_to "Show Details", applicant_url(applicant) %> | <%= link_to "Evaluate", evaluate_url(applicant) %></li>
	<% end %>
</ol>

<p><%= link_to 'All Applicants', applicants_path %></p>