<h1><%= @position %> Skype Short List (<%= @applicants.size %>)</h1>
<p class="position-details"><%= link_to 'View Other Posting', positions_path() %></p>
<p class="sort-details">Sorted by Skype interview schedule</p>

<table border="0" cellspacing="0" cellpadding="0">
  <tr>
    <th class="col-lname">Name</th>
		<th class="col-date">Skype Interview</th>
    <th class="col-average">Average Score</th>
    <th colspan="2"><%= image_tag("click_to_evaluate.png") %></th>
		<th>Video Screencast</th>
  </tr>

<% @applicants.each do |applicant| %>
	<% evaluation = applicant.member_responses.find_by_member_id(@current_member.id) %>
  <tr class="<%= 'evaluated' if evaluation %> <%= 'skype-yes' if applicant.on_skype_list? == true %>  <%= 'skype-no' if applicant.on_skype_list? == false %>">
    <td class="col-lname"><%= applicant.name %></td>
		<td class="col-date"><%= applicant.skype_date.to_s(:pretty) if applicant.skype_date != nil %></td>
		<td class="col-average"><%= applicant.average_score %></td>
		<td><%= link_to 'Evaluate', evaluate_url(applicant) %> 
    <td><%= link_to 'Show Details', applicant %> <%= link_to 'Edit', edit_applicant_path(applicant) if @current_member.id == 1 %></td>
		<td><%= link_to 'Watch Interview', skype_interview_recording_url(applicant.skype_interview_recording) if applicant.skype_interview_recording %></td>
  </tr>
<% end %>
</table>

<p><%= link_to 'Show All Applicants', position_applicants_path(@position) %></p>