<tr>
  <td>
    <strong>Teaching Experience</strong><br>
    5) Extensive record of teaching Sculpture, Ceramics &amp; 3D Foundations<br>
    4) Significant record of teaching Sculpture, Ceramics &amp; 3D Foundations, but concentrated in more so in one area<br>
    3) Limited teaching experience only in Sculpture or Ceramics<br>
    2) Limited teaching experience only in 3D Foundations<br>
    1) Teaching experience limited to Teaching Assistantship (or none at all)
  </td>
  <td class="selected-value-<%= @member_response.q1a %>">
    <%= f.radio_button("q1a", "5") %> 5
    <%= f.radio_button("q1a", "4") %> 4
    <%= f.radio_button("q1a", "3") %> 3
    <%= f.radio_button("q1a", "2") %> 2
    <%= f.radio_button("q1a", "1") %> 1 <span class="spacer">&nbsp;</span>
    <%= f.radio_button("q1a", "0") %> No Response
  </td>
  <td><%= f.text_area :q1c, :rows => 3 %></td>
</tr>
<tr>
  <td>
    <strong>Administrative Experience &amp; Service Record</strong><br>
    5) Exceptional experience in both areas<br>
    4) Strong experience in both areas<br>
    3) Good experience in both areas<br>
    2) Some experience in one area of the other<br>
    1) Little experience in either area
  </td>
  <td class="selected-value-<%= @member_response.q2a %>">
    <%= f.radio_button("q2a", "5") %> 5
    <%= f.radio_button("q2a", "4") %> 4
    <%= f.radio_button("q2a", "3") %> 3
    <%= f.radio_button("q2a", "2") %> 2
    <%= f.radio_button("q2a", "1") %> 1 <span class="spacer">&nbsp;</span>
    <%= f.radio_button("q2a", "0") %> No Response
  </td>
  <td><%= f.text_area :q2c, :rows => 3 %></td>
</tr>
<tr>
  <td>
    <strong>Exhibition/Publication Experience</strong><br>
    5) Exceptional, broad experience<br>
    4) Good experience<br>
    3) Some experience<br>
    2) Little experience<br>
    1) No significant experience
  </td>
  <td class="selected-value-<%= @member_response.q3a %>">
    <%= f.radio_button("q3a", "5") %> 5
    <%= f.radio_button("q3a", "4") %> 4
    <%= f.radio_button("q3a", "3") %> 3
    <%= f.radio_button("q3a", "2") %> 2
    <%= f.radio_button("q3a", "1") %> 1 <span class="spacer">&nbsp;</span>
    <%= f.radio_button("q3a", "0") %> No Response
  </td>
  <td><%= f.text_area :q3c, :rows => 3 %></td>
</tr>
<tr>
  <td>
    <strong>Desire to pursue Teaching as a Career</strong><br>
    5) Strongly expressed interest/notes Belmont values<br>
    4) Firmly expressed interest in teaching <br>
    3) Modestly expressed interest in teaching <br>
    2) Minimally expressed interest in teaching <br>
    1) No genuinely expressed interest in teaching
  </td>
  <td class="selected-value-<%= @member_response.q4a %>">
    <%= f.radio_button("q4a", "5") %> 5
    <%= f.radio_button("q4a", "4") %> 4
    <%= f.radio_button("q4a", "3") %> 3
    <%= f.radio_button("q4a", "2") %> 2
    <%= f.radio_button("q4a", "1") %> 1 <span class="spacer">&nbsp;</span>
    <%= f.radio_button("q4a", "0") %> No Response
  </td>
  <td><%= f.text_area :q4c, :rows => 3 %></td>
</tr>
<!-- 			<tr>
  <td>
    <strong>Response to Mission/Vision/Values Statement</strong><br>
    5) Passionate, insightful and relevant <br>
    4) Thoughtful and considerate <br>
    3) Informative yet mediocre <br>
    2) Platitudinous and cliched <br>
    1) Weak, vague or evasive
  </td>
  <td class="selected-value-<%= @member_response.q5a %>">
    <%= f.radio_button("q5a", "5") %> 5
    <%= f.radio_button("q5a", "4") %> 4
    <%= f.radio_button("q5a", "3") %> 3
    <%= f.radio_button("q5a", "2") %> 2
    <%= f.radio_button("q5a", "1") %> 1 <span class="spacer">&nbsp;</span>
    <%= f.radio_button("q5a", "0") %> No Response
  </td>
  <td><%= f.text_area :q5c, :rows => 3 %></td>
</tr> -->
<tr>
  <td>
    <strong>Cover Letter</strong><br>
    5) Clear enthusiasm for Belmont/how they fit in dept<br>
    4) Clearly explains how they fit into dept or Belmont <br>
    3) Explains fit into dept or Belmont/lacks enthusiasm<br>
    2) Some explanation of fit into dept or Belmont <br>
    1) Minimal explanation of fit into dept or Belmont
  </td>
  <td class="selected-value-<%= @member_response.q6a %>">
    <%= f.radio_button("q6a", "5") %> 5
    <%= f.radio_button("q6a", "4") %> 4
    <%= f.radio_button("q6a", "3") %> 3
    <%= f.radio_button("q6a", "2") %> 2
    <%= f.radio_button("q6a", "1") %> 1 <span class="spacer">&nbsp;</span>
    <%= f.radio_button("q6a", "0") %> No Response
  </td>
  <td><%= f.text_area :q6c, :rows => 3 %></td>
</tr>
<tr>
  <td>
    <strong>Personal Work</strong><br>
    5) Extremely strong and diverse portfolio <br>
    4) Strong and modestly diverse portfolio <br>
    3) Diverse but average portfolio <br>
    2) Average portfolio/little diversity<br>
    1) Weak portfolio
  </td>
  <td class="selected-value-<%= @member_response.q7a %>">
    <%= f.radio_button("q7a", "5") %> 5
    <%= f.radio_button("q7a", "4") %> 4
    <%= f.radio_button("q7a", "3") %> 3
    <%= f.radio_button("q7a", "2") %> 2
    <%= f.radio_button("q7a", "1") %> 1 <span class="spacer">&nbsp;</span>
    <%= f.radio_button("q7a", "0") %> No Response
  </td>
  <td><%= f.text_area :q7c, :rows => 3 %></td>
</tr>
<tr>
  <td>
    <strong>Student Work</strong><br>
    5) Extremely strong and diverse portfolio <br>
    4) Strong and modestly diverse portfolio <br>
    3) Diverse but average portfolio <br>
    2) Average portfolio/little diversity<br>
    1) Weak portfolio
  </td>
  <td class="selected-value-<%= @member_response.q8a %>">
    <%= f.radio_button("q8a", "5") %> 5
    <%= f.radio_button("q8a", "4") %> 4
    <%= f.radio_button("q8a", "3") %> 3
    <%= f.radio_button("q8a", "2") %> 2
    <%= f.radio_button("q8a", "1") %> 1 <span class="spacer">&nbsp;</span>
    <%= f.radio_button("q8a", "0") %> No Response
  </td>
  <td><%= f.text_area :q8c, :rows => 3 %></td>
</tr>
<tr>
  <td>
    <strong>Ability to Complement Art Dept Faculty</strong><br>
    5) Brings fine ideas, experience &amp; growth potential <br>
    4) Brings good ideas, experience &amp; growth potential <br>
    3) Brings some ideas, experience &amp; growth potential <br>
    2) Brings few ideas experience, some potential <br>
    1) Brings no worthy ideas, experience; no potential

  </td>
  <td class="selected-value-<%= @member_response.q9a %>">
    <%= f.radio_button("q9a", "5") %> 5
    <%= f.radio_button("q9a", "4") %> 4
    <%= f.radio_button("q9a", "3") %> 3
    <%= f.radio_button("q9a", "2") %> 2
    <%= f.radio_button("q9a", "1") %> 1 <span class="spacer">&nbsp;</span>
    <%= f.radio_button("q9a", "0") %> No Response
  </td>
  <td><%= f.text_area :q9c, :rows => 3 %></td>
</tr>

<tr>
  <td>
    <strong>Range of material and technical experience as demonstrated in personal/student work</strong><br>
    5) Artwork demonstrates significant variety in technical expertise and material application<br>
    4) Artwork demonstrates moderate variety in technical expertise and material application<br>
    3) Artwork demonstrates little variety in terms of technical expertise and material application<br>
    2) Artwork is uniform in terms of technical expertise and material application<br>
    1) This criteria cannot be determined by the artwork portfolios

  </td>
  <td class="selected-value-<%= @member_response.q10a %>">
    <%= f.radio_button("q10a", "5") %> 5
    <%= f.radio_button("q10a", "4") %> 4
    <%= f.radio_button("q10a", "3") %> 3
    <%= f.radio_button("q10a", "2") %> 2
    <%= f.radio_button("q10a", "1") %> 1 <span class="spacer">&nbsp;</span>
    <%= f.radio_button("q10a", "0") %> No Response
  </td>
  <td><%= f.text_area :q10c, :rows => 3 %></td>
</tr>
