<!DOCTYPE html>
<html>
<head>
  <title>Photo Search Committee — Applicant Matrix</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<% if logged_in? %>
		<div class="account">You are logged in as <%= @current_member.name %>. <%= link_to "Logout", logout_url %> | <%= link_to "Home", root_url %></div>
	<% end %>
	
	<p id="notice"><%= notice %></p>
	<%= yield %>

</body>
</html>
